*{
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: sens-serif;

}

container{
    margin: 0 5rem 0 5rem;
    
}

.navbar{
    height:10vh;
    max-width: 100%;

}
.main-nav{
    /* height: 10vh; */
    /* max-height: 100%; */
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    flex-direction: row;
    list-style: none;
    position: relative;
    /* bottom: 1.6rem; */
    top: 1.6rem;
    
}

 .main-nav  li a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    

}

.main-nav img{
    height: 35px;
    display: flex;
    list-style: none;
    
}
.side-nav{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    position: relative;
    bottom: 1.6rem;
    

}
.main-nav{

    text-decoration: none;
    color: black;
}

.side-nav li a{
    text-decoration: none;
    color: black;
}
.side-nav img{
    width: 30px;


}
.home{
    height: 85vh;
    width: 100%;
    background-color: #93c572;

}

.img{
    display: inline-block;
}

.home img{
    margin-top: 3.5rem;
    margin-left: 10rem;
    display: inline-block;
    float: left;
    transform: rotate(20deg);
    height: 40rem;
    filter: drop-shadow(15px 300px 30px rgb(0,0,0,.4));
    overflow: hidden;

}
.content{
    float: right;
    display: inline-block;


}
.content h4{
    font-weight: 800;
    color: rgb(255,0,60);
    font-size: 2.9rem;
    margin-top: 15rem;
    margin-right: 25rem;
    line-height: 80px;

}
.content p{
    color: rgb(255,255,255);
    font-size: 18px;
    margin-bottom: 1.8rem;
    color: black;
}

.content button{
    width: 9rem;
    height: 3rem;
    font-size: 17px;
    background-color: rgb(30,212,30);
    border: none;
    box-shadow: 4px 4px 1px( rgb(81,93,81));
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 5sl;
}

.content button:hover{
    background-color: rgb1(0,196,0);
}